<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.github.jknack.Antlr4.tool">
    <stringAttribute key="antlr4.arguments" value="-listener -visitor -encoding UTF-8"/>
    <stringAttribute key="antlr4.grammar" value="\xa\src\main\antlr4\xcom\retro\xa\MOS6502\MOS6502.g4"/>
    <stringAttribute key="antlr4.vmArguments" value=""/>
</launchConfiguration>
